.container{
    display: flex;
    flex-direction: column;
align-items: center;
}
#qty-player-container{
    display: grid;
    grid-template-columns: 2rem 9rem 2rem 9rem 2rem;
    grid-template-rows: 9rem 16px 9rem;
}
.qty-player-bt{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(202, 106, 106);
    color: aliceblue;
    border-radius: 10%;
    font-size: 38px;
}

#qty-player-container > div:nth-child(1){
    grid-column-start: 2;
    grid-column-end: 3;
    /* background-color: blue; */
}

#qty-player-container > div:nth-child(2){
    grid-column-start: 4;
    grid-column-end: 5;
    /* background-color: blue; */
}


#qty-player-container > div:nth-child(3){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;
    /* background-color: blue; */
}

#qty-player-container > div:nth-child(4){
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 3;
    /* background-color: blue; */
}